
<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	
	<link rel="stylesheet" href="assets/css/main.css">
	
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="elements.html" class="active"><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Mensajería</h3>
						</div>
						<div class="panel-body">
						<!--chat -->
						<div class="container app">
							<div class="row app-one">
						
							  <div class="col-sm-4 side">
								<div class="side-one">
								  <!-- Heading -->
								  <div class="row heading">
									<div class="col-sm-3 col-xs-3 heading-avatar">
									  
									</div>
									<div class="col-sm-5 col-xs-5" style="padding:0;">
										<h4>Conversaciones</h4>
									</div>
									<div class="col-sm-1 col-xs-1  heading-dot  pull-right">
									  <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
									</div>
									<div class="col-sm-2 col-xs-2 heading-compose  pull-right">
									  <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
									</div>
								  </div>
								  <!-- Heading End -->
						
								  <!-- SearchBox -->
								  <div class="row searchBox">
									<div class="col-sm-12 searchBox-inner">
									  <div class="form-group has-feedback">
										<input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
										<span class="glyphicon glyphicon-search form-control-feedback"></span>
									  </div>
									</div>
								  </div>
						
								  <!-- Search Box End -->
								  <!-- sideBar -->
								  <div class="row sideBar">
									
									<!-- Inicio de la lista de conversaciones -->
									<!--Goku-->
									<div class="row sideBar-body" onclick="seleccionarContacto(14,'Goku');">
									  <div class="col-sm-3 col-xs-3 sideBar-avatar">
										<div class="avatar-icon">
										  <img src="assets/img/cute-profile-pics-for-whatsapp-images.png">
										</div>
									  </div>
									  <div class="col-sm-9 col-xs-9 sideBar-main">
										<div class="row">
										  <div class="col-sm-8 col-xs-8 sideBar-name">
											<span class="name-meta"> Nicolle Mejía
										  </span>
										  </div>
										  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
											<span class="time-meta pull-right">18:18
										  </span>
										  </div>
										</div>
									  </div>
									</div>
						
									<!--Trunks-->
									<div class="row sideBar-body" onclick="seleccionarContacto(26,'Trunks');">
									  <div class="col-sm-3 col-xs-3 sideBar-avatar">
										<div class="avatar-icon">
										  <img src="assets/img/user2.png">
										</div>
									  </div>
									  <div class="col-sm-9 col-xs-9 sideBar-main">
										<div class="row">
										  <div class="col-sm-8 col-xs-8 sideBar-name">
											<span class="name-meta"> Alexander Reyes
										  </span>
										  </div>
										  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
											<span class="time-meta pull-right">17:18
										  </span>
										  </div>
										</div>
									  </div>
									</div>
						
									<!--Patricio-->
									<div class="row sideBar-body" onclick="seleccionarContacto(1,'Patricio');">
									  <div class="col-sm-3 col-xs-3 sideBar-avatar">
										<div class="avatar-icon">
										  <img src="assets/img/user1.png">
										</div>
									  </div>
									  <div class="col-sm-9 col-xs-9 sideBar-main">
										<div class="row">
										  <div class="col-sm-8 col-xs-8 sideBar-name">
											<span class="name-meta"> Patricio Martínez
										  </span>
										  </div>
										  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
											<span class="time-meta pull-right">16:18
										  </span>
										  </div>
										</div>
									  </div>
									</div>
						
									<!-- Fin de la lista de conversaciones -->
						
								  </div>
								  <!-- Sidebar End -->
								</div>
								<div class="side-two">
						
								  <!-- Heading -->
								  <div class="row newMessage-heading">
									<div class="row newMessage-main">
									  <div class="col-sm-2 col-xs-2 newMessage-back">
										<i class="fa fa-arrow-left" aria-hidden="true"></i>
									  </div>
									  <div class="col-sm-10 col-xs-10 newMessage-title">
										New Chat
									  </div>
									</div>
								  </div>
								  <!-- Heading End -->
						
								  <!-- ComposeBox -->
								  <div class="row composeBox">
									<div class="col-sm-12 composeBox-inner">
									  <div class="form-group has-feedback">
										<input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
										<span class="glyphicon glyphicon-search form-control-feedback"></span>
									  </div>
									</div>
								  </div>
								  <!-- ComposeBox End -->
								</div>
								<!-- Sidebar End -->
							  </div>
						
						
							  <!-- New Message Sidebar End -->
						
							  <!-- Conversation Start -->
							  <div class="col-sm-8 conversation">
								<!-- Heading -->
								<div class="row heading">
								  <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
									<div class="heading-avatar-icon">
										<img src="assets/img/cute-profile-pics-for-whatsapp-images.png">
									</div>
								  </div>
								  
						
								  <div class="col-sm-8 col-xs-7 heading-name">
									<a class="heading-name-meta"> Nicolle Mejía
									</a>
									<span class="heading-online">Online</span>
								  </div>
						
						
								  <div class="col-sm-1 col-xs-1  heading-dot pull-right">
									<i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
								  </div>
								</div>
								<!-- Heading End -->
						
								<!-- Message Box -->
								<div class="row message" id="conversation">
						
								  <div class="row message-previous">
									<div class="col-sm-12 previous">
									</div>
								  </div>
						
								  <div class="row message-body">
									<div class="col-sm-12 message-main-receiver">
									  <div class="receiver">
										<div class="message-text">
										 Hola, estoy interesada en recibir tutorías de matemáticas. ¿Podría ayudarme?
										</div>
										<span class="message-time pull-right">
										  18:18
										</span>
									  </div>
									</div>
								  </div>
						
								  <div class="row message-body">
									<div class="col-sm-12 message-main-sender">
									  <div class="sender">
										<div class="message-text">
										  Hola! Claro, ¿en que clases necesitas ayuda?
										</div>
										<span class="message-time pull-right">
										  18:19
										</span>
									  </div>
									</div>
								  </div>
						
								  <div class="row message-body">
									<div class="col-sm-12 message-main-receiver">
									  <div class="receiver">
										<div class="message-text">
										 En Matemáticas 110.
										</div>
										<span class="message-time pull-right">
										  18:20
										</span>
									  </div>
									</div>
								  </div>
								</div>

						
								<!-- Message Box End -->
						
								<!-- Reply Box -->
								<div class="row reply">
								  <div class="col-sm-1 col-xs-1 reply-emojis">
									<i class="fa fa-smile-o fa-2x"></i>
								  </div>
								  <div class="col-sm-9 col-xs-9 reply-main">
									<textarea class="form-control" rows="1" id="txta-mensaje"></textarea>
								  </div>
								  <div class="col-sm-1 col-xs-1 reply-recording">
									<i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
								  </div>
								  <div id="btn-enviar" class="col-sm-1 col-xs-1 reply-send">
									<i class="fa fa-send fa-2x" aria-hidden="true"></i>
								  </div>
								</div>
								<!-- Reply Box End -->
							  </div>
							  <!-- Conversation End -->
							</div>
							<!-- App One End -->
						  </div>
						</div>
					</div>
					<!-- END OVERVIEW -->
					
					
					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
